 
.font{
    font-size: 22px; 
    display: block; 
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}
.font:hover{
    transform: scale(1.8);
    text-shadow: 2px 2px 1px #ccc;
}


#phone{ 
    width: 100%; 
    height: 90%;  
    position: absolute;
}

#key{
    width: 40vh; 
    height: 50vh; 
    padding: 0 5vh;
    position: absolute;
    bottom: 0; 

    background: #fff;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#key div{
    width: 33.3%;
    height: 8vh; 
    font-size: 18px;
    font-weight: 600;
    /* 设置百分比会相当于高度的百分比 */
    align-items: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    transition: .5s;
    background: #fff; 
}
#key div span{
    font-weight: 400;
    font-size: 12px;
}
#key div:hover{
    background: #ccc;
}


#input{
    border: none;
    width: 100%;
    height: 10vh;
    border-radius: 5px;  
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
}
#input:focus{
    outline: none;
}